<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>update Form</h1>
<form action="" method="post" th:action="@{/edit}" th:object="${city}">
    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{nameCity}">
    <p></p>
    <input type="text" th:field="*{country}">
    <p></p>
    <input type="text" th:field="*{area}">
    <p></p>
    <input type="text" th:field="*{population}">
    <p></p>
    <input type="text" th:field="*{GDP}">
    <p></p>
    <input type="text" th:field="*{describe}">
    <p></p>
    <input type="submit" value="update"><p></p>
</form>
<a href="" th:href="@{/home}">back</a>
<p></p>
</body>
</html>